<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.josien.programmeerproject2">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/trainrails"
        android:label="@string/name_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity
            android:name=".FbLoginActvity"
            android:label="@string/name_app"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/name_app"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <activity
            android:name=".FriendsList"
            android:label="@string/name_app"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".CheckInActivity"
            android:label="@string/name_app"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".FriendsActivity"
            android:label="@string/name_app"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Intent filter used for Messenger protocol version 20150314 -->
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.facebook.orca.category.PLATFORM_THREAD_20150314" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/name_app"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".HistoryActivity"
            android:label="@string/name_app"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>